.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: space-evenly;
  
}
.flex-container > div {
  width: 800px;
  margin: 30px;
  text-align: center;
  justify-content: space-evenly;
  font-size: 20px;
 background-color:whitesmoke;
 margin-top: 200px;
 margin-bottom: auto;

}


body  {
  
 background-image: url("https://i.ibb.co/P6CLCxD/housebar-for-backgroundwlogo-2.png");
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 background-attachment: fixed; 
margin-top: 20px;
}

h1 {
  color: whitesmoke;
}

